<h1 *ngIf="article">Edit {{article.title}} {{article.summary}}</h1>

<form class="summary" *ngIf="article" (ngSubmit)="onSubmit()" #editArticle="ngForm">
  
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <input [(ngModel)]="article._id" type="hidden" name="_id" id="_id">
  <input [(ngModel)]="article.created" type="hidden" name="created" id="created">

  <div>
    <label for="title">Title</label>
    <input [(ngModel)]="article.title" type="text" name="title" id="title">
    <div *ngIf="errors.title">{{errors.title.message}}</div>
  </div>

  <div>
    <label for="keywords">Key Words</label>
    <input [(ngModel)]="article.keywords" type="text" name="keywords" id="keywords">
    <div *ngIf="errors.keywords">{{errors.keywords.message}}</div>
  </div>

  <div>
    <label for="published">Published On</label>
    <input [(ngModel)]="article.published" type="date" name="published" id="published">
    <div *ngIf="errors.published">{{errors.published.message}}</div>
  </div>

  <div>
    <label for="published">Modified</label>
    <input [(ngModel)]="article.modified" type="date" name="modified" id="modified">
    <div *ngIf="errors.modified">{{errors.modified.message}}</div>
  </div>

  <div>
    <label for="body">Body</label>
    <input [(ngModel)]="article.body" type="text" name="body" id="body">
    <div *ngIf="errors.body">{{errors.body.message}}</div>
  </div>

  <button type="submit">Submit</button>

</form>